<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if (isInEdit)
                    {
                        @if (!isWorkingWithMultiple)
                        {
                            <span>Edit Day</span>
                        }
                        else
                        {
                            <span>Edit Multiple Days</span>
                        }
                    }
                    else
                    {
                        @if (!isWorkingWithMultiple)
                        {
                            <span>Create Day</span>
                        }
                        else
                        {
                            <span>Create Multiple Days</span>
                        }
                    }
                    @if (!isWorkingWithMultiple)
                    {
                        <span>@(tempGoalDay.StartDate.ToShortDateString())</span>
                    }
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
                <EditForm Model="tempGoalDay">

                    <div class="form-group">
                        <label for="value">Value</label>
                        @if (isWorkingWithMultiple && isInEdit)
                        {
                            <snap style="font-style:italic"> Should be Edited</snap>
                            <InputCheckbox @bind-Value=modifyValue></InputCheckbox><br />
                        }
                        @if (modifyValue)
                        {
                            <InputNumber id="value" @bind-Value="tempGoalDay.Value" class="form-control"></InputNumber>


                            <InputRadioGroup id="recalculate" @bind-Value="recalculateMode" class="form-control">
                                @if (isInEdit)
                                    {
                                    <InputRadio Value="0" /><span>Decrease/Icrease values in other days</span><br /> // for editing
                                    <InputRadio Value="1" /><span>Increase/decrease goal total value</span>
                                    }
                                    else
                                    {
                                    <InputRadio Value="0" /><span>Decrease values in other days</span><br /> // for creating day
                                    <InputRadio Value="1" /><span>Increace goal total value</span>
                                    }
                            </InputRadioGroup>
                        }
                    </div>


                    <div class="form-group">
                        <label for="showTime">All Day</label>

                        @if (isWorkingWithMultiple && isInEdit)
                        {
                            <snap style="font-style:italic"> Should be Edited</snap>
                            <InputCheckbox @bind-Value=modifyDuration></InputCheckbox><br />
                        }

                        @if (modifyDuration)
                        {
                            <InputCheckbox id="showTime" @bind-Value="tempGoalDay.IsAllDay" class="form-checked"></InputCheckbox>
                            <br />
                            @if (!tempGoalDay.IsAllDay)
                            {
                                <span>Starting Time </span><InputText type="time" @bind-Value="@StartDateProxy" />
                                <span>Length of session </span><InputText type="time" @bind-Value="@LengthTimeProxy" />
                            }
                        }
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        @if (isWorkingWithMultiple && isInEdit)
                        {
                            <snap style="font-style:italic"> Should be Edited</snap>
                            <InputCheckbox @bind-Value=modifyNote></InputCheckbox><br />
                        }
                        @if (modifyNote)
                        {
                            <InputTextArea id="note" @bind-Value="tempGoalDay.Note" class="form-control"></InputTextArea>
                        }

                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                @if (isInEdit)
                {
                    <button type="button" class="btn btn-primary" @onclick="() => SaveGoalDay()">Confirm changes</button>
                    <button type="button" class="btn btn-danger" @onclick="() => ShowRemoveDialog()">Remove day</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" @onclick="() =>  SaveGoalDay()">Add day</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
            </div>
            <div class="modal-footer">
                @if (isRemoveDialogVisible)
                {
                    <EditForm Model="tempGoalDay">

                        <div class="form-group">
                            <InputRadioGroup id="recalculate" @bind-Value="recalculateMode" class="form-control">
                                <InputRadio Value="0" /><span>Incease values in other days</span><br />
                                <InputRadio Value="1" /><span>Decreace goal total value</span>
                            </InputRadioGroup>
                        </div>
                    </EditForm>

                    <button type="button" class="btn btn-danger" @onclick="() => Remove()">Realy Remove day</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => HideRemoveDialog()">Don't remove day</button>
                }
            </div>
        </div>
    </div>
</div>



@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    [Parameter]
    public GoalDay editGoalDay { get; set; }
    [Parameter]
    public bool isInEdit { get; set; }

    [Parameter]
    public EventCallback OnCreateButtonClicked { get; set; }
    [Parameter]
    public EventCallback OnDeleteButtonClicked { get; set; }
    [Parameter]
    public EventCallback OnGoalDayChanged { get; set; }
    [Parameter]
    public EventCallback<(int, int, bool, bool)> OnValueChanged { get; set; }

    private bool isRemoveDialogVisible = false;

    public int recalculateMode { get; set; }

    public GoalDay tempGoalDay { get; set; }

    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    bool isWorkingWithMultiple;
    bool modifyValue;
    bool modifyDuration;
    bool modifyNote;

    public string StartDateProxy
    {
        get => tempGoalDay.StartDate.ToString("HH\\:mm");
        set
        {
            TimeSpan StartTime;
            TimeSpan.TryParseExact(value, "hh\\:mm\\:ss", null, out StartTime);
            tempGoalDay.StartDate = tempGoalDay.StartDate.Date + StartTime;
        }
    }

    public string LengthTimeProxy
    {
        get
        {
            DateTime LocalDateTime = new DateTime();
            LocalDateTime = LocalDateTime + tempGoalDay.LengthTime;
            return LocalDateTime.ToString("HH\\:mm");
        }

        set
        {
            TimeSpan LocalLengthTime;
            TimeSpan.TryParseExact(value, "hh\\:mm\\:ss", null, out LocalLengthTime);
            tempGoalDay.LengthTime = LocalLengthTime;
        }
    }

    private async void SaveGoalDay()// confirm changes of confirm creation of new day, but not yet uplade changes to database
    {

        int valueChange = editGoalDay.Value - tempGoalDay.Value;

        if (tempGoalDay.Note == String.Empty)
        {
            editGoalDay.Note = null;
        }
        else
        {
            editGoalDay.Note = (String)tempGoalDay.Note.Clone();
        }
        editGoalDay.StartDate = tempGoalDay.StartDate; // probably not needed


        editGoalDay.CheckedValue = tempGoalDay.CheckedValue;

        editGoalDay.Value = tempGoalDay.Value;
        editGoalDay.IsAllDay = tempGoalDay.IsAllDay;
        editGoalDay.LengthTime = tempGoalDay.LengthTime;

        if (!isInEdit)
        {
            await OnCreateButtonClicked.InvokeAsync(); // will add goalDay to List
        }

        if (!modifyValue)
        {
            recalculateMode = -1;
        }

        await OnValueChanged.InvokeAsync((recalculateMode, valueChange, modifyDuration, modifyNote));
        await OnGoalDayChanged.InvokeAsync();
        Close();

    }

    private void HideRemoveDialog()
    {
        isRemoveDialogVisible = false;
    }

    private void ShowRemoveDialog()
    {
        isRemoveDialogVisible = true;
    }


    private async void Remove()
    {
        await OnValueChanged.InvokeAsync((recalculateMode, editGoalDay.Value, false, false));
        await OnDeleteButtonClicked.InvokeAsync();
        await OnGoalDayChanged.InvokeAsync();
        Close();
    }


    protected override void OnParametersSet()
    {
        isWorkingWithMultiple = editGoalDay.StartDate == new DateTime();
        modifyValue = true;
        modifyDuration = true;
        modifyNote = true;

        tempGoalDay = new GoalDay();

        if (editGoalDay.Note == null)
        {
            tempGoalDay.Note = String.Empty;
        }
        else
        {
            tempGoalDay.Note = (String)editGoalDay.Note.Clone();
        }

        tempGoalDay.StartDate = editGoalDay.StartDate;
        tempGoalDay.LengthTime = editGoalDay.LengthTime;
        tempGoalDay.IsAllDay = editGoalDay.IsAllDay;
        tempGoalDay.Value = editGoalDay.Value;

        recalculateMode = 0;
        isRemoveDialogVisible = false;
    }



    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;

        StateHasChanged();
    }


    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;

        StateHasChanged();
    }
}