@code
{
    [Fact]
    public void EditGoalRecalculate1()
    {
        // Arrange
        using var ctx = new TestContext();
        ctx.JSInterop.Mode = JSRuntimeMode.Loose;
        // Act


        var component = ctx.RenderComponent<EditGoal>(
                parameters =>
                  parameters
                    // Add parameters
                    .Add(c => c.isInCheck, false)
                    .Add(c => c.isInCheck, false)
                    .Add(c => c.goal, new Goal())
                    .Add(c => c.onCloseChanges, null)
              );
        component.MarkupMatches(@<h1>Hello world from Blazor2</h1>);
        //cut.MarkupMatches(@<h1>Hello world from Blazor2</h1>);

    }
}
