@page "/build"
@inject IBananaService BananaService
@inject IUnitService UnitService 
@inject IToastService ToastService

<h3>Build</h3>

<div class="form-group">
    <select @bind="selectedUnitId" class="form-control">
       @foreach (var unit in UnitService.Units){
        <option value="@unit.Id" >@unit.Title // @unit.BanaCost </option>
        }
    </select>

</div>

<button class="btn btn-primary" @onclick ="BuildUnit">Build</button>

@if (needMoreBananas)
            {
                <div class="validation-message">
                    Not enough bananas :(
                </div>
            }

@code {
    bool needMoreBananas = false;
    int selectedUnitId = 1;

    public void BuildUnit()
    {

        var selectedUnit = UnitService.Units.FirstOrDefault(unit => unit.Id == selectedUnitId);

        if (BananaService.Bananas < selectedUnit.BanaCost)
        {
            needMoreBananas = true;
            ToastService.ShowError("Not enough bananas!", ":-(");
            return;
        }

        BananaService.EatBananas(selectedUnit.BanaCost);
        UnitService.AddUnit(selectedUnitId);
    }
}
