@page "/dashboard"
@inject IGoalService GoalService
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Dashboard</h3>


@if (GoalService.Goals.Count > 0)
{
    <table class="table">
        @foreach (var goal in GoalService.Goals)
        {
            <tr>
                <td style="cursor: pointer;">
                    <a @onclick="()=>SelectGoal(goal)">@goal.Name</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <span>Loading Golas ..</span>
}


@code {
    //protected override async Task OnInitializedAsync()
    //protected async override Task OnAfterRenderAsync(bool firstRender)
    protected override async Task OnInitializedAsync()
    {

        await GoalService.LoadGoals();
        //StateHasChanged();

    }

    public async void SelectGoal(Goal goal)
    {
        GoalService.CurrentGoal = goal;
        await GoalService.LoadGoalDays();
        //Console.WriteLine("select goal,number of days: " + GoalService.CurrentGoal.Days.Count.ToString());

        NavigationManager.NavigateTo("currentgoal");
        ToastService.ShowSuccess(goal.Id.ToString());
    }

}
